/* line 18, ../sass/cog.sass */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes clockwise {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes clockwise {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes counter-clockwise {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-moz-keyframes counter-clockwise {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
/* line 42, ../sass/cog.sass */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  height: 150px;
  width: 200px;
  margin-top: -75px;
}

/* line 51, ../sass/cog.sass */
.gearbox {
  height: 150px;
  width: 200px;
  position: relative;
  border: none;
}
/* line 58, ../sass/cog.sass */
.gearbox .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
/* line 68, ../sass/cog.sass */
.gearbox.turn .overlay {
  background: transparent;
}

/* line 77, ../sass/cog.sass */
.gear {
  position: absolute;
  height: 120px;
  width: 120px;
  -moz-box-shadow: 0px -1px 0px 0px #333333, 0px 1px 0px 0px black;
  -webkit-box-shadow: 0px -1px 0px 0px #333333, 0px 1px 0px 0px black;
  box-shadow: 0px -1px 0px 0px #333333, 0px 1px 0px 0px black;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}
/* line 84, ../sass/cog.sass */
.gear.large {
  height: 180px;
  width: 180px;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  border-radius: 90px;
}
/* line 89, ../sass/cog.sass */
.gear.large:after {
  height: 156px;
  width: 156px;
  -moz-border-radius: 78px;
  -webkit-border-radius: 78px;
  border-radius: 78px;
  margin-left: -78px;
  margin-top: -78px;
}
/* line 99, ../sass/cog.sass */
.gear.one {
  top: -41px;
  left: 180px;
  cursor: pointer;
}
/* line 104, ../sass/cog.sass */
.gear.one:after {
  background-image: url("/assets/img/lexon.png");
  background-repeat: no-repeat;
  background-size: 86px;
  background-position: 5px;
  transition: all 3s;
}
/* line 111, ../sass/cog.sass */
.gear.one:hover:after {
  background-image: url("/assets/img/lexon-active2.png");
  background-repeat: no-repeat;
  background-position: 5px;
}
/* line 116, ../sass/cog.sass */
.gear.two {
  top: 185px;
  left: 164px;
}
/* line 120, ../sass/cog.sass */
.gear.four {
  top: 10px;
  left: 10px;
}
/* line 124, ../sass/cog.sass */
.gear.four:after {
  background-image: url("/assets/img/lexys-lady.png");
  background-repeat: no-repeat;
  background-size: 144px;
  background-position: 6px;
  transition: all 3s;
}
/* line 131, ../sass/cog.sass */
.gear:after {
  content: "";
  position: absolute;
  height: 96px;
  width: 96px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  background-color: #f7f7f7;
  top: 50%;
  left: 50%;
  margin-left: -48px;
  margin-top: -48px;
  z-index: 3;
}

/* line 145, ../sass/cog.sass */
.gear-inner {
  position: relative;
  height: 100%;
  width: 100%;
  background: #000;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 155, ../sass/cog.sass */
.large .gear-inner {
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  border-radius: 90px;
}
/* line 158, ../sass/cog.sass */
.gear.one .gear-inner {
  -webkit-animation: clockwise 12s infinite linear;
  -moz-animation: clockwise 12s infinite linear;
}
/* line 162, ../sass/cog.sass */
.gear.two .gear-inner {
  -webkit-animation: clockwise 12s infinite linear;
  -moz-animation: clockwise 12s infinite linear;
}
/* line 166, ../sass/cog.sass */
.gear.four .gear-inner {
  -webkit-animation: counter-clockwise 24s infinite linear;
  -moz-animation: counter-clockwise 24s infinite linear;
}
/* line 170, ../sass/cog.sass */
.gear-inner .bar {
  background: #000;
  height: 21px;
  width: 140px;
  position: absolute;
  left: 50%;
  margin-left: -70px;
  top: 50%;
  margin-top: -10.5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 188, ../sass/cog.sass */
.large .gear-inner .bar {
  margin-left: -100px;
  width: 200px;
}
/* line 193, ../sass/cog.sass */
.gear-inner .bar:nth-child(2) {
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
/* line 196, ../sass/cog.sass */
.gear-inner .bar:nth-child(3) {
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}
/* line 199, ../sass/cog.sass */
.gear-inner .bar:nth-child(4) {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 202, ../sass/cog.sass */
.gear-inner .bar:nth-child(5) {
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
/* line 205, ../sass/cog.sass */
.gear-inner .bar:nth-child(6) {
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}
