<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/reset.css' | prepend: site.path }}?{{site.time | date: '%s%N'}}" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/style.css' | prepend: site.path }}?{{site.time | date: '%s%N'}}" type="text/css">
    <link rel="shortcut icon" href="{{ '/assets/lexys.ico' | prepend: site.path }}" />
    <title>{{ site.title }} - {{ page.title }}</title>
</head>
<body class="noselect">
    <div class="header">
        <p><a href="/"><span class="brand-name"><span class="brand-lex">Lex</span><span class="brand-sys">:ys</span></span></a></p>
        <p><span class="brand-claim">The Computational</span></p>
        <p><span class="brand-claim">Law Firm</span></p>
    </div>
    <div class="content">
        {{ content }}
    </div>
    <div class="footer">
        <p><a href="mailto:mail@lexys.org" target="_blank">mail@lexys.org</a></p>
        <p>|</p>
        <p><a href="https://github.com/lexys" target="_blank">github.com/lexys</a></p>
    </div>
    <script src="{{ '/assets/site.js' | prepend: site.path }}?{{site.time | date: '%s%N'}}"></script>
</body>
</html>