<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.path }}/assets/reset.css" type="text/css">
    <link rel="stylesheet" href="{{ site.path }}/assets/style.css" type="text/css">
    <link rel="shortcut icon" href="{{ site.path }}/assets/lexys.ico" />
    <title>{{ site.title }} - {{ page.title }}</title>
</head>
<body class="noselect">
<div class="header">
    <p><a href="/"><span class="brand-name"><span class="brand-lex">Lex</span><span class="brand-sys">:ys</span></span></a></p>
    <p><span class="brand-claim">The Computational</span></p>
    <p><span class="brand-claim">Law Firm</span></p>
</div>
<div class="content">
    {{ content }}
</div>
<div class="footer">
    <p><a href="mailto:mail@lexys.org" target="_blank">mail@lexys.org</a></p>
    <p>|</p>
    <p><a href="https://github.com/lexys" target="_blank">github.com/lexys</a></p>
</div>
</body>
</html>